// colors:
$color-primary-light: #7ed56f; // Light green
$color-primary: #55c57a; // Medium green
$color-primary-dark:#28b485; //Dark green

$color-gray-light-1: #f7f7f7;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// font:
$default-font-size: 1.6rem;

//grid:
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
