.footer {
  color: $color-gray-dark-1;
  background-color: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin: 0 0 8rem;
  }

  &__logo {
    width: 15rem;
    animation: filters 36s infinite ease-in-out;
  }

  &__navigation {
    border-top: 1px solid $color-gray-dark-1;
    padding: 2rem 0 0 0;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin: 0 1rem 0 0
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-gray-light-1;
      background-color: $color-gray-dark-3;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      transform: scale(1.25);
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-dark-1;
    padding: 2rem 0 0 0;
    width: 95%;
    float: right;
  }

}
