*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  backface-visibility: hidden;
}

html {
  /* padrão 16px, para ter 10px em %  10px / 16px x 100% */
  /* todas as outras medidas serão em REM: 1rem === 10px */
  font-size: 62.5%; // 1rem = 16px

  @include respond("big-desktop") { // width > 1800
    font-size: 75%;  // 1rem = 21px: 12/16 = 75%
  }

  @include respond("tab-land") { // width < 1200
    font-size: 56.25%; // 1rem = 9px: 9/16 = 56%
  }

  @include respond("tab-port") { // width < 900
    font-size: 50%; // 1rem = 8px: 8/16 = 50%
  }

  /*
  @include respond("phone") { // width < 600
    font-size: 35%;
  }
  */

}

body {
  padding: 3rem;
  box-sizing: border-box;

  @include respond("tab-port") {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white
}
